<%- include('head') %>
<%- include('header') %>

<header class="header">
  <small class="header__text">Editar cliente.</small>
</header>

<main class="file-input">
  <div>
    <form class="todos" action="/client/edit/<%= data.id %>" method="post" enctype="application/x-www-form-urlencoded">
      <div class="todo">
        <div>
          <b>Código: </b>
          <input name="code" value="<%= data.code %>" />
        </div>
        <div>
          <b>Razão social: </b>
          <input name="corporate_name" value="<%= data.corporate_name %>" />
        </div>
        <div>
          <b>Nome: </b>
          <input name="name" value="<%= data.name %>" />
        </div>
        <div>
          <b>Filial: </b>
          <select name="branch">
            <%- include('optionsBranch', { data }) %>
          </select>
        </div>
        <div>
          <b>Última vez modificado: </b>
          <p><%= new Date(data.updated_at).toLocaleDateString('pt-BR') %></p>
        </div>
        
        <div>
          <button class="btn_edit">ATUALIZAR</button>
          
         <form action="/client/delete/<%= data.id %>" method="post" enctype="application/x-www-form-urlencoded">
            <button class="btn_delete">DELETAR</button>
          </form>
        </div>
      </div>
    </form>
  </div>
</main>

<%- include('footer') %>